/* animations.module.css */
.hoverZoom {
  overflow: hidden;
}

.hoverZoom img {
  transition: transform 0.4s ease;
}

.hoverZoom:hover img {
  transform: scale(1.05);
}


.underlineAnimate {
  position: relative;
  display: inline-block;
}

.underlineAnimate::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.hoverGroup:hover .underlineAnimate::after {
  opacity: 1;
}

.scrollIndicator {
  position: relative;
  width: 2px;
  height: 60px;
  background-color: #ccc;
  margin: 2rem auto 0;
  overflow: hidden;
}

.scrollIndicator::before {
  content: '';
  position: absolute;
  top: -20%;
  left: 0;
  width: 2px;
  height: 20%;
  background-color: var(--white);
  animation: slideDown 1.5s infinite ease-in-out;
}

@keyframes slideDown {
  0% {
    top: -20%;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

/* 親が relative & overflow: hidden で拡大を制御 */
.imageHoverWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 16 / 9; /* or お好みで */
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    display: block;
}

/* 画像ラッパー */
.nextImageWrapper {
  width: 100%;
  height: 100%;
}

.nextImageWrapper :global(img) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

/* 拡大エフェクト */
.imageHoverWrapper:hover :global(img) {
  transform: scale(1.1);
}

/* オーバーレイ（初期非表示） */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; /* テキストにhoverが取られないように */
  
}

/* ホバー時にオーバーレイを表示 */
.imageHoverWrapper:hover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

/* 中央のテキスト */
.overlayTitle {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}


