.wrapper {
    padding-top: var(--space-xl) ;
    padding-bottom: var(--space-xs) ;
    background-color: var(--);
}

.flexContainer {
    composes: sideBySideCenter from 'styles/utils.module.css';
    gap: 2em;
}

.copyright {
    display: flex;
    justify-content: center;
    padding-top: var(--space-xl);
}