/* 全体ラッパー */
.worksContainer {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  
  /* 各作品要素 */
  .workItem {
    display: flex;
    justify-content: center;
  }
  
  /* 並びの内側ラッパー */
  .workImageText {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  
  /* テキスト・画像交互レイアウト（PC用） */
  @media (min-width: 768px) {
    .even .workImageText {
      flex-direction: row-reverse;
    }
  
    .odd .workImageText {
      flex-direction: row;
    }
  
    .workImageText {
      align-items: center;
      justify-content: center;
      gap: 10rem;
    }
  }
  
  /* テキスト部分 */
  .workText {
    max-width: 500px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .workTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
  
  .description {
    white-space: pre-line;
    font-size: 1rem;
    color: #444;
    line-height: 1.8;
  }
  
  /* 画像部分 */
  .workImage {
    max-width: 500px;
    overflow: hidden;
  }
  
  .workImage img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  
  /* タイトル＋線 */
  .homeWorksTitle {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 70px 0 40px;
  }
  
  @media (min-width: 768px) {
    .border {
      border-top: 1px solid var(--gray-25);
      width: 100px;
    }
  }
  