.basic {
    font-size: var(--heading2);
    font-weight: 700;
    letter-spacing: 0.15em;
    font-family: "花とちょうちょ", sans-serif;
}

.box {
    font-weight: 700;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 1em 1.5em;
    /* background-color: var(--gray-50); */
    color: var(--black);
    font-size: var(--small-heading2);
    font-family: "花とちょうちょ", sans-serif;
    margin-top: 0.5em;
}